<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="XMLFileFolderSettings" value="config\FileWatcherConfig.xml" />
    <add key="XMLFileServiceSettings" value="config\ServiceSettings.xml" />
    <add key="ServerPetitionPath" value="config\ServerPetition.txt" />
    <add key="ConfigPath" value="config\" />
    <add key="VersionPath" value="version\" />
    <add key="LogsPath" value="logs\" />
  </appSettings>
  <startup>
    <supportedRuntime version="v2.0.50727" />
  </startup>
</configuration>